<table class="board" hx-disabled-elt=".board select[name='vote']">
    <thead>
        <tr>
            <th>Options</th>
            {% for voter_name in board.voter_names %}
            <th>{{voter_name}}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in board.by_options %}
        {% set option_index = loop.index0 %}
        <tr>
            <th>{{ board.option_names[option_index] }}</th>
            {% for vote in row %}
            <td>
                {% if board.can_edit_by_voters[loop.index0] %}
                <select
                    hx-vals='{{ {"voter": board.voter_names[loop.index0], "option": board.option_names[option_index] } | tojson }}'
                    hx-post="{{ board.change_vote_url }}"
                    hx-target="closest .board"
                    hx-swap="outerHTML"
                    name="vote"
                >
                    {% for i in range(11) %}
                    <option {% if vote == i * -1 %}selected{% endif %}>{{i * -1}}</option>
                    {% endfor %}
                </select>
                {% else %}
                {{vote}}
                {% endif %}
            </td>
            {% endfor %}
            <th class="score">{{ board.score_by_options[option_index] }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
