<table class="board" hx-disabled-elt=".board select[name='vote']">
    <thead>
        <tr>
            <th>Option</th>
            <th>Resistance</th>
            {% for voter in board.voter_names %}
            <th>{{voter}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in board.by_options %}
        {% set option_index = loop.index0 %}
        {% set option = board.option_names[option_index] %}
        <tr>
            <th>{{ option }}</th>
            <td
                class="score {{ board.score_class_by_options[option_index] }}"
                data-tooltip="Σ = {{ board.sum_by_options[option_index] }}, n = {{ board.voter_names|length }}"
            >
                {% set score = board.score_by_options[option_index] %}
                <span>{{ score|round(1) }}&nbsp;⌀</span>
                <div style="width: {{ (score|abs) * 9 + 10 | round(0) }}%"></div>
            </td>
            {% for vote in row %}
            {% set voter = board.voter_names[loop.index0] %}
            <td>
                {% if board.can_edit_by_voters[loop.index0] %}
                <select
                    hx-vals='{{ {"voter": board.voter_names[loop.index0], "option": board.option_names[option_index] } | tojson }}'
                    hx-post="{{ board.change_vote_url }}"
                    hx-target="closest .board"
                    hx-swap="outerHTML"
                    name="vote"
                    id="{{ ["vote", option, voter]|join("-")|slugify }}"
                >
                    {% for i in range(11) %}
                    <option {% if vote == i * -1 %}selected{% endif %}>{{i * -1}}</option>
                    {% endfor %}
                </select>
                {% else %}
                {{vote}}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
