{% extends "base.html" %}
{% block markup %}
<main class="container">
    <h1>{{ title }}</h1>
    <section>
        {{ description|markdown }}
    </section>
    <section>
        {% if is_expired %}
        Expiration Date:
        <del data-tooltip="{{ expiration|datetimeformat(format="iso", tz="UTC") }}">
            {{ expiration|dateformat }}
        </del>
        <small><i class="fas fa-exclamation-circle"></i>&nbsp;This poll has expired and is no longer active.</small>
        {% else %}
        Expiration Date:
        <span data-tooltip="{{ expiration|datetimeformat(format="iso", tz="UTC") }}">
            {{ expiration|dateformat }}
        </span>
        {% endif %}
    </section>
    {% if is_admin %}
    <section class="grid">
        <a
            href="{{edit_url}}"
            class="outline primary"
            role="button"
        >
            <i class="fa-solid fa-pencil"></i>&nbsp;edit
        </a>
        {% if is_expired %}
        <a
            hx-post="{{reopen_url}}"
            class="outline"
            role="button"
        >
            <i class="fa-solid fa-circle-xmark"></i>&nbsp;re-open
        </a>
        {% else %}
        <a
            hx-post="{{end_url}}"
            class="outline"
            role="button"
        >
            <i class="fa-solid fa-circle-xmark"></i>&nbsp;end
        </a>
        {% endif %}
        <a
            hx-swap="outerHTML"
            hx-get="{{admin_share_url}}"
            class="outline secondary"
            role="button"
        >
            <i class="fa-solid fa-lock"></i>&nbsp;share admin access
        </a>
    </section>
    {% endif %}

    <div class="overflow-auto">
    {% include "frag-board.html" %}
    </div>

    {% if new_voter_url is defined %}
    {% include "frag-new-voter-form.html" %}
    {% endif %}

    <a href="/" role="button"><i class="fa-solid fa-chevron-left"></i>&nbsp;Back to Home</a>
</main>
{% endblock %}
